body {
    text-align: center;
    background-color: darkslategray;
    color: white;
}

button {
    height: 2em;
    width: 8em;
}

button:hover {
    border: solid;
}

div {
    margin-top: 4px;
}

canvas {
    position: relative;
    margin-left: 250px;
    margin-right: 250px;
}

#screen {
    z-index: 1;
    margin-top: 4px;
}

#lorenz_screen {
    z-index: 2;
    margin-top: -500px;
    margin-bottom: 20px;
}
